In [1]:
import os
import numpy as np
import pandas as pd

# Check Dados

In [59]:
df_mega = pd.read_csv('data/pokemon.csv')
df_mega.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [60]:
df = df_mega[~df_mega['Name'].str.contains('Mega')]
df.reset_index(drop=True, inplace=True)

In [62]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [57]:
df_capture_rate = pd.read_csv('data/pokemon_kaggle.csv')[["pokedex_number", "name", "capture_rate"]]
df_capture_rate.head()

   pokedex_number        name capture_rate
0               1   Bulbasaur           45
1               2     Ivysaur           45
2               3    Venusaur           45
3               4  Charmander           45
4               5  Charmeleon           45

In [49]:
df[df['#'] == 718]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [50]:
df_capture_rate[df_capture_rate['pokedex_number'] == 718]

     pokedex_number     name capture_rate
717             718  Zygarde            3

# Dados Pokedex

## Relacionar dados

In [80]:
df_resumida = df.merge(df_capture_rate, left_on='#', right_on='pokedex_number').copy()
df_resumida.drop(["#", "name", 'Total'], axis=1, inplace=True)

## Reordenar colunas

In [82]:
cols = list(df_resumida.columns.values)
cols = [
    'pokedex_number',
    'Name',
    'Type 1',
    'Type 2',
    'HP',
    'Attack',
    'Defense',
    'Sp. Atk',
    'Sp. Def',
    'Speed',
    'capture_rate',
    'Legendary',
    'Generation',
    ]
df_resumida.head(1)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,pokedex_number,capture_rate
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1,45

In [83]:
df_resumida = df_resumida[cols]
df_resumida.head(1)

,pokedex_number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,capture_rate,Legendary,Generation
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,45,False,1

## Renomear colunas

In [86]:
cols_renamed = {
    'pokedex_number': 'pokedex_number',
    'Name': 'name',
    'Type 1': 'type1',
    'Type 2': 'type2',
    'HP': 'hp',
    'Attack': 'attack',
    'Defense': 'defense',
    'Sp. Atk': 'sp_atk',
    'Sp. Def': 'sp_def',
    'Speed': 'speed',
    'capture_rate': 'capture_rate',
    'Legendary': 'legendary',
    'Generation': 'generation',
}
df_resumida.rename(columns=cols_renamed, inplace=True)

## Ataque e Defesa Total

In [91]:
df_resumida["attack_total"] = df_resumida["attack"] + df_resumida["sp_atk"]
df_resumida["defense_total"] = df_resumida["defense"] + df_resumida["sp_def"]

df_resumida.drop(["attack", "sp_atk", "defense", "sp_def"], axis=1, inplace=True)

In [95]:
cols = list(df_resumida.columns.values)
cols = [
    'pokedex_number',
    'name',
    'type1',
    'type2',
    'hp',
    'attack_total',
    'defense_total',
    'speed',
    'capture_rate',
    'legendary',
    'generation'
]
df_resumida = df_resumida[cols]

## Fill(na)

In [99]:
df_resumida.fillna("NULL", inplace=True)

## Definir tipo das colunas

In [108]:
df_resumida["capture_rate"] = df_resumida["capture_rate"].astype('int64')

## Final

In [110]:
df_resumida.head(9)

,pokedex_number,name,type1,type2,hp,attack_total,defense_total,speed,capture_rate,legendary,generation
0,1,Bulbasaur,Grass,Poison,45,114,114,45,45,False,1
1,2,Ivysaur,Grass,Poison,60,142,143,60,45,False,1
2,3,Venusaur,Grass,Poison,80,182,183,80,45,False,1
3,4,Charmander,Fire,NULL,39,112,93,65,45,False,1
4,5,Charmeleon,Fire,NULL,58,144,123,80,45,False,1
5,6,Charizard,Fire,Flying,78,193,163,100,45,False,1
6,7,Squirtle,Water,NULL,44,98,129,43,45,False,1
7,8,Wartortle,Water,NULL,59,128,160,58,45,False,1
8,9,Blastoise,Water,NULL,79,168,205,78,45,False,1

In [109]:
df_resumida.describe()

,pokedex_number,hp,attack_total,defense_total,speed,capture_rate,generation
count,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000,751.000000
mean,369.723036,68.669774,146.191744,141.853529,66.607190,97.676431,3.380826
std,209.480412,25.946152,49.947871,49.376376,27.845601,76.436138,1.671360
min,1.000000,1.000000,20.000000,35.000000,5.000000,3.000000,1.000000
25%,189.500000,50.000000,110.000000,105.000000,45.000000,45.000000,2.000000
50%,377.000000,65.000000,145.000000,140.000000,65.000000,60.000000,3.000000
75%,550.500000,80.000000,178.500000,175.000000,88.500000,152.500000,5.000000
max,721.000000,255.000000,360.000000,460.000000,180.000000,255.000000,6.000000

In [111]:
df_resumida.isnull().sum()

pokedex_number    0
name              0
type1             0
type2             0
hp                0
attack_total      0
defense_total     0
speed             0
capture_rate      0
legendary         0
generation        0
dtype: int64

In [112]:
df_resumida.nunique()

pokedex_number    720
name              751
type1              18
type2              19
hp                 94
attack_total      152
defense_total     134
speed             107
capture_rate       33
legendary           2
generation          6
dtype: int64

In [113]:
df_resumida.dtypes

pokedex_number     int64
name              object
type1             object
type2             object
hp                 int64
attack_total       int64
defense_total      int64
speed              int64
capture_rate       int64
legendary           bool
generation         int64
dtype: object

In [114]:
df_resumida.to_csv("data/pokemon_dataset.csv", index=False)

# Matriz Tipo

In [115]:
df = pd.read_excel("data/matriz_tipo.xlsx", sheet_name="tratada")
df

,tipo,Normal,Fighting,Flying,Poison,Ground,Rock,Bug,Ghost,Steel,Fire,Water,Grass,Electric,Psychic,Ice,Dragon,Dark,Fairy
0,Normal,1×,1×,1×,1×,1×,½×,1×,0×,½×,1×,1×,1×,1×,1×,1×,1×,1×,1×
1,Fighting,2×,1×,½×,½×,1×,2×,½×,0×,2×,1×,1×,1×,1×,½×,2×,1×,2×,½×
2,Flying,1×,2×,1×,1×,1×,½×,2×,1×,½×,1×,1×,2×,½×,1×,1×,1×,1×,1×
3,Poison,1×,1×,1×,½×,½×,½×,1×,½×,0×,1×,1×,2×,1×,1×,1×,1×,1×,2×
4,Ground,1×,1×,0×,2×,1×,2×,½×,1×,2×,2×,1×,½×,2×,1×,1×,1×,1×,1×
5,Rock,1×,½×,2×,1×,½×,1×,2×,1×,½×,2×,1×,1×,1×,1×,2×,1×,1×,1×
6,Bug,1×,½×,½×,½×,1×,1×,1×,½×,½×,½×,1×,2×,1×,2×,1×,1×,2×,½×
7,Ghost,0×,1×,1×,1×,1×,1×,1×,2×,1×,1×,1×,1×,1×,2×,1×,1×,½×,1×
8,Steel,1×,1×,1×,1×,1×,2×,1×,1×,½×,½×,½×,1×,½×,1×,2×,1×,1×,2×
9,Fire,1×,1×,1×,1×,1×,½×,2×,1×,2×,½×,½×,2×,1×,1×,2×,½×,1×,1×
10,Water,1×,1×,1×,1×,2×,2×,1×,1×,1×,2×,½×,½×,1×,1×,1×,½×,1×,1×
11,Grass,1×,1×,½×,½×,2×,2×,½×,1×,½×,½×,2×,½×,1×,1×,1×,½×,1×,1×
12,Electric,1×,1×,2×,1×,0×,1×,1×,1×,1×,1×,2×,½×,½×,1×,1×,½×,1×,1×
13,Psychic,1×,2×,1×,2×,1×,1×,1×,1×,½×,1×,1×,1×,1×,½×,1×,1×,0×,1×
14,Ice,1×,1×,2×,1×,2×,1×,1×,1×,½×,½×,½×,2×,1×,1×,½×,2×,1×,1×
15,Dragon,1×,1×,1×,1×,1×,1×,1×,1×,½×,1×,1×,1×,1×,1×,1×,2×,1×,0×
16,Dark,1×,½×,1×,1×,1×,1×,1×,2×,1×,1×,1×,1×,1×,2×,1×,1×,½×,½×
17,Fairy,1×,2×,1×,½×,1×,1×,1×,1×,½×,½×,1×,1×,1×,1×,1×,2×,2×,1×

In [116]:
covert = {
    "0×": 0,
    "½×": 0.5,
    "1×": 1,
    "2×": 2
}

In [117]:
# Replace the values in the DataFrame
for col in df.columns:
    if col != 'tipo':
        df[col] = df[col].map(covert)

df

,tipo,Normal,Fighting,Flying,Poison,Ground,Rock,Bug,Ghost,Steel,Fire,Water,Grass,Electric,Psychic,Ice,Dragon,Dark,Fairy
0,Normal,1.0,1.0,1.0,1.0,1.0,0.5,1.0,0.0,0.5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Fighting,2.0,1.0,0.5,0.5,1.0,2.0,0.5,0.0,2.0,1.0,1.0,1.0,1.0,0.5,2.0,1.0,2.0,0.5
2,Flying,1.0,2.0,1.0,1.0,1.0,0.5,2.0,1.0,0.5,1.0,1.0,2.0,0.5,1.0,1.0,1.0,1.0,1.0
3,Poison,1.0,1.0,1.0,0.5,0.5,0.5,1.0,0.5,0.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0
4,Ground,1.0,1.0,0.0,2.0,1.0,2.0,0.5,1.0,2.0,2.0,1.0,0.5,2.0,1.0,1.0,1.0,1.0,1.0
5,Rock,1.0,0.5,2.0,1.0,0.5,1.0,2.0,1.0,0.5,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0
6,Bug,1.0,0.5,0.5,0.5,1.0,1.0,1.0,0.5,0.5,0.5,1.0,2.0,1.0,2.0,1.0,1.0,2.0,0.5
7,Ghost,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.5,1.0
8,Steel,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.5,0.5,0.5,1.0,0.5,1.0,2.0,1.0,1.0,2.0
9,Fire,1.0,1.0,1.0,1.0,1.0,0.5,2.0,1.0,2.0,0.5,0.5,2.0,1.0,1.0,2.0,0.5,1.0,1.0
10,Water,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,0.5,0.5,1.0,1.0,1.0,0.5,1.0,1.0
11,Grass,1.0,1.0,0.5,0.5,2.0,2.0,0.5,1.0,0.5,0.5,2.0,0.5,1.0,1.0,1.0,0.5,1.0,1.0
12,Electric,1.0,1.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,2.0,0.5,0.5,1.0,1.0,0.5,1.0,1.0
13,Psychic,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0,1.0,0.5,1.0,1.0,0.0,1.0
14,Ice,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,0.5,0.5,0.5,2.0,1.0,1.0,0.5,2.0,1.0,1.0
15,Dragon,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,0.0
16,Dark,1.0,0.5,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0.5,0.5
17,Fairy,1.0,2.0,1.0,0.5,1.0,1.0,1.0,1.0,0.5,0.5,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0

In [118]:
df.to_csv("data/matriz_tipo.csv", index=False)

# Imagens

 - https://www.geeksforgeeks.org/python-list-files-in-a-directory/

In [ ]:
# Get the list of all files and directories
path = "./imagens/img"
dir_list = os.listdir(path)
 
print("Files and directories in '", path, "' :")
 
# prints all files
print(dir_list)

# Outros